body{
	width:100%;
	height:100%;
	background-color:#ECF0F1;
	font-family: 'Scope One', serif;
}
.container{
	margin-left: 100px;
	margin-right:100px;
	height: 1000px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: 300px;
	grid-auto-flow: row dense;
	grid-gap: 10px;
}
.books{
	background-color: #E67E22;
}
.titlewrapper{
	padding-right:10px;
}
.title{
	display:inline-block;
	margin-left: 100px;
	font-family: 'Glegoo', serif;
	color:white;
	font-size: 30px;
	width:40%;
}
header{
	height:50px;
	padding-top: 20px;
	margin-bottom: 20px;
	width:100%;
	background-color: #34495E;
}
nav, nav>span{
	width:100%;
}